@{
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h2 class="text-center display-2">
        VIDEO STORE API
    </h2>
    <br />
    <br />
    <p>
        <a href="/swagger/">Swagger <em class="fas fa-box-open"></em></a>
    </p>
</div>